h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #123456;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #654321;
    font-weight: bold;
}

body {
    background-color: #777777;
}